<div class="row d-flex justify-content-center align-items-center">
  <div class="col-4">
    <h1 class="text-center">{{title}}</h1>
    <div class="list-group">
        <div class="list-group-item" style="background: red" (click)="playSound('note1')"></div>
        <div class="list-group-item" style="background: orange"(click)="playSound('note2')"></div>
        <div class="list-group-item" style="background: teal" (click)="playSound('note3')"></div>
        <div class="list-group-item" style="background: blue" (click)="playSound('note4')"></div>
        <div class="list-group-item" style="background: purple" (click)="playSound('note5')"></div>
        <div class="list-group-item" style="background: green" (click)="playSound('note6')"></div>
        <div class="list-group-item" style="background: black" (click)="playSound('note7')"></div>
    </div>

  </div>
</div>


